.contacts-list {
  max-width: 36rem;
  margin: auto;
  font-size: 1rem;
  /*color: #0D2226;*/
  border: solid var(--accent-color);
}

.list-items__container {
  margin: 0;
  padding: 0;
}

.list-items__item {
  list-style: none;
  background-color: var(--secondary-bg-color);
  border-bottom: solid 2px var(--accent-color);
}

.list-items__wide-divider {
  height: 2.5em;
  background-color: var(--accent-color);
}

@media screen and (min-width: 481px) {
  .contacts-list {
    font-size: 1.25rem;
  }
}