.card-item__static {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

.static__row {
  box-sizing: border-box;
  width: 100%;
  margin: 1.75rem 0 .5rem 0;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  border-bottom: dotted var(--light-accent-color);
}